/src/nakalab_realsense
/src/rclpy_util

# ros workspace
build/
install/
log/

**/__pycache__/**
rosbag/*
!rosbag/.gitkeepe
map/*
!map/.gitkeep

.devcontainer
.antigravity
.vscode
.agents

# pixi environments
.pixi/*
!.pixi/config.toml


# backup file
*~
\#*\#
.\#*
