# ros workspace
build/**
install/**
log/**
!build/.gitkeep
!install/.gitkeep
!log/.gitkeep


# Python
__pycache__/

# ROSBAG
rosbag/*
!rosbag/.gitkeepe

# MAP
map/*
!map/.gitkeep

# EDITOR & AGENT LLM
.devcontainer
.antigravity
.vscode
.agents
.codex

# pixi environments
.pixi/*
!.pixi/config.toml

assets/sam3.pt

# backup file
*~
\#*\#
.\#*

# whisper
src/erasers_g1_api/config/faster-whisper-small
*.pt
