# ROS
setuptools<=68.2.2
numpy==1.26.4
rustypot
transform3d

# Recongnition
git+https://github.com/openai/CLIP.git
ultralytics
faster-whisper
pycocotools>=2.0.0

# VLM
google-genai
langchain-google-genai
